* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    background-color: #939185;
}
.card {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.card img {
    width: 100px;
    border-radius: 50%;
}

.card h2 {
    margin: 10px 0;
}

.card p {
    color: #555;
}